<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- <label for="category">Category Name:</label>
        <input type="text" id="category" name="category" required> -->
        <br/>
        <label for="image">Select Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required>
        <br>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
